<openhds-header [headerTitle]="this.navService.data.editing ? 'individualEdit' : 'individualCreate'"></openhds-header>

<ion-content padding>
  <div *ngIf="!this.netConfig.isConnected()">
    <ion-card color="danger">
      <ion-card-content>
        {{'networkErrorPrompt' | translate }}
      </ion-card-content>
    </ion-card>
  </div>

  <form novalidate [formGroup]="individualForm" (ngSubmit)="submitForm(individualForm)">
    <div class="error" *ngIf="formSubmitted && form.invalid">
      <ion-item>
        <ion-text>
          {{'formErrorPrompt' | translate}}
        </ion-text>
      </ion-item>
      <ion-item lines="none" *ngFor="let error of form.getFormValidationMessages()">
        <ion-text>
          {{ error }}  <!--- error is translated in getFormValidationMessages --->
        </ion-text>
      </ion-item>
    </div>

    <!------  Form Fields --------->
    <div class="form-group" *ngFor="let control of individualForm.formControls">
      <ion-item>
        <ion-label>{{control.label}}</ion-label>

        <ion-datetime displayFormat="YYYY-MM-DD" float-right *ngIf="control.label == 'Date of Birth'" formControlName="{{control.modelProperty}}"
                 ></ion-datetime>

        <!---- Other form fields that aren't selection based ---->
        <ion-input *ngIf="control.label != 'Date of Birth'"
                   formControlName="{{control.modelProperty}}"></ion-input>
        <ion-button type="button" fill="outline" spot="end"
                [hidden]="control.label != 'Gender' && control.label != 'Partial Date' && control.label != 'Relationship to Head'"
                (click)="helpPopup(control.label)">
          <ion-icon ios="ios-help-circle-outline" md="md-help-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item *ngIf="(formSubmitted || control.dirty || control.touched) && control.invalid">
        <p color="danger" *ngFor="let error of control.getValidationMessages()">
          {{error}}
        </p>
      </ion-item>
    </div>

    <div *ngIf="this.createHead; else indButtonBlock">
      <ion-button fill="outline" [disabled]="!individualForm.valid && this.formSubmitted" type="submit"> {{'groupHeadCreate' | translate}}</ion-button>
    </div>
    <ng-template #indButtonBlock>
      <ion-button *ngIf="!this.navService.data.editing" fill="outline" [disabled]="!individualForm.valid && this.formSubmitted" type="submit"> {{'individualCreate' | translate}}</ion-button>

      <ion-button *ngIf="this.navService.data.editing"fill="outline" [disabled]="!individualForm.valid && this.formSubmitted" type="submit"> {{'individualEdit' | translate}}</ion-button>
    </ng-template>
  </form>

</ion-content>
