<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-list no-lines>
      <ion-item>
        <ion-label stacked color="primary">Username</ion-label>
        <ion-input [(ngModel)]="this.username" formControlName="username" name="username" type="text" spellcheck="false" autocapitalize="off"
                   required>
        </ion-input>
      </ion-item>
      <ion-item *ngIf="loginForm.controls.username.hasError('required') && loginForm.controls.touched">
        <p ion-text color="danger">The username entered is invalid.</p>
      </ion-item>

      <ion-item>
        <ion-label stacked color="primary">Password</ion-label>
        <ion-input [(ngModel)]="this.password" formControlName="password" name="password" type="password" required>
        </ion-input>
      </ion-item>
      <ion-item *ngIf="loginForm.controls.password.hasError('required') && loginForm.controls.touched">
        <p ion-text color="danger">The password entered is either incorrect or not valid.</p>
      </ion-item>
    </ion-list>

    <ion-row responsive-sm>
      <ion-col>
        <button ion-button type="submit" block>Login</button>
      </ion-col>
    </ion-row>
  </form>

  <ion-card [hidden]="!this.showLoginError">
    <ion-card-content color="danger" text-center>ERROR: INVALID USERNAME AND/OR PASSWORD</ion-card-content>
  </ion-card>
</ion-content>
