<openhds-header [headerTitle]="this.navService.data.editing ? 'socialEdit' : 'socialCreate'"></openhds-header>

<ion-content>
  <div *ngIf="!this.netConfig.isConnected()">
    <ion-card>
      <ion-card-content>
        <ion-text>{{'networkErrorPrompt' | translate}}</ion-text>
      </ion-card-content>
    </ion-card>
  </div>

  <form novalidate [formGroup]="sgForm" (ngSubmit)="submitForm(sgForm)">
    <div class="error">
      <ion-item *ngIf="formSubmitted && sgForm.invalid">
        <ion-text>{{'formErrorPrompt' | translate}}</ion-text>
      </ion-item>

      <ion-item color="danger" *ngFor="let error of sgForm.getFormValidationMessages()">
        <ion-text>{{error}} </ion-text> <!--- error is translated in getFormValidationMessages --->
      </ion-item>

    </div>

    <!------  Form Fields --------->
    <div class="form-group" *ngFor="let control of sgForm.formControls">
      <ion-item>
        <ion-label>{{control.label}}</ion-label>
        <ion-input class="form-control"
                   formControlName="{{control.modelProperty}}"></ion-input>
        <ion-button type="button" fill="outline" spot="end"
                [hidden]="control.label != 'Group Type'" (click)="helpPopup(control.label)">
          <ion-icon name="help-circle" ></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item *ngIf="(formSubmitted || control.dirty) && control.invalid">
        <ion-text color="danger" *ngFor="let error of control.getValidationMessages()"> <!--- error is translated in getFormValidationMessages --->
          {{error}}
        </ion-text>
      </ion-item>
    </div>

    <br/>
      <ion-button *ngIf="!this.navService.data.editing" fill="outline" type="submit" [disabled]="formSubmitted && sgForm.invalid"> {{'setGroupHeadButton' | translate}}</ion-button>
      <ion-button *ngIf="this.navService.data.editing" fill="outline" type="submit" [disabled]="formSubmitted && sgForm.invalid"> {{'editButton' | translate}} </ion-button>
  </form>
  <br>
  <ion-item-divider color="primary">{{'additionalOptionsLabel' | translate}}</ion-item-divider>

  <ion-item *ngIf="!this.navService.data.editing">
      <ion-label>{{'lookupHeadButton' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="lookupSGHead"></ion-toggle>
  </ion-item>

  <ion-item *ngIf="this.navService.data.editing">
    <ion-label> {{'socialGroupHead' | translate }} {{this.navService.data.selectedSocialGroup.groupHead.extId}}</ion-label>
    <ion-button slot="end"> {{'groupHeadEdit' | translate}} </ion-button>
  </ion-item>
</ion-content>
