<openhds-header [headerTitle]="this.PAGE_NAME"></openhds-header>
<ion-content padding>
  <ion-row>

    <!-- List of Entities to select from and view errors for -->
    <ion-col responsive size="3">
      <ion-list>
        <ion-item lines="full" *ngFor="let label of this.ENTITY_LABELS"
                  (click)="this.changeEntity(label)">
          <ion-text [color]="this.selectedLabel === label.toLowerCase() ? 'primary': 'dark'">
            {{label}}
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-col>

    <!-- List of errors for selected entities -->
    <ion-col>
        <ion-item *ngIf="this.errors.length === 0; else elseBlock">
          <ion-text>
            There are no errors for {{this.selectedLabel}}.
          </ion-text>
        </ion-item>
        <ng-template #elseBlock>
          <ion-list lines="full">
            <ion-item *ngFor="let ent of this.errors">
              <ion-item>
                {{ent.entityExtId}}
              </ion-item>
              <ion-item>
                {{ent.errorMessage}}
              </ion-item>
              <ion-item>
                {{convertTimestamp(ent.timestamp)}}
              </ion-item>
              <ion-button fill="outline" slot="end" (click)="this.correctEntityError(ent)">Correct Error</ion-button>
            </ion-item>
          </ion-list>
        </ng-template>
    </ion-col>
  </ion-row>
</ion-content>
