<openhds-header [headerTitle]="'entityCorrectionPage'"></openhds-header>
<ion-content padding>
  <ion-row>
    <!-- List of Entities to select from and view errors for -->
    <ion-col size="3">
      <ion-item>
        <ion-label>{{'entryTypeLabel' | translate}}</ion-label>
        <ion-select [(ngModel)]="selectedLabel" value="locations" (ionChange)="this.changeEntity()">
          <ion-select-option value="locations">{{'locationsLabel' | translate}}</ion-select-option>
          <ion-select-option value="socialgroups">{{'socialGroupsLabel' | translate}}</ion-select-option>
          <ion-select-option value="individuals">{{'individualsLabel' | translate}}</ion-select-option>
          <ion-select-option value="visits">{{'visitsLabel' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>


    <!-- List of errors for selected entities -->
    <ion-col>
      <ion-item *ngIf="this.errorKeys === undefined || this.errorKeys.length === 0 ; else elseBlock">
        <ion-text>
          ({{'noErrorLabel' | translate}} {{this.selectedLabel | translate}})
        </ion-text>
      </ion-item>
      <ng-template #elseBlock>
        <ion-grid class="table">
          <ion-row class="table-header">
            <ion-col>{{'extId' | translate}}</ion-col>
            <ion-col>{{'errorMessagesLabel' | translate}}</ion-col>
            <ion-col></ion-col>
          </ion-row>

          <ion-row class="table-row" *ngFor="let ent of this.errorKeys">
            <ion-col>{{ent}}</ion-col>
            <ion-col>
              <ion-text *ngFor="let messages of this.errors[ent]">
                {{messages["errorMessage"]}}
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-button fill="outline" size="small" (click)="this.correctEntityError(ent)">{{'correctErrorButton' | translate}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-content>
