<openhds-header [headerTitle]="this.navParams.data.editing ? 'visitEdit' : 'visitCreate'"></openhds-header>

<ion-content>
  <div *ngIf="!this.netConfig.isConnected()">
    <ion-card>
      <ion-card-content>
        <ion-text>{{'networkErrorPrompt' | translate}}</ion-text>
      </ion-card-content>
    </ion-card>
  </div>

  <form novalidate [formGroup]="visitForm" (ngSubmit)="submitForm(visitForm)">
    <div class="error" *ngIf="formSubmitted && visitForm.invalid">
      <ion-item>
        <ion-text>
          {{'formErrorPrompt' | translate}}
        </ion-text>
      </ion-item>
      <ion-item lines="none" *ngFor="let error of visitForm.getFormValidationMessages()">
        <ion-text>
          {{ error }}  <!--- error is translated in getFormValidationMessages --->
        </ion-text>
      </ion-item>
    </div>


    <!------  Form Fields --------->
    <div class="form-group" *ngFor="let control of visitForm.formControls">
      <ion-item>
        <ion-label>
          {{control.label}}
        </ion-label>
        <ion-input class="form-control"
                   formControlName="{{control.modelProperty}}">
        </ion-input>
        <ion-button type="button" fill="outline" spot="end"
                    [hidden]="control.label != 'Real Visit'" (click)="helpPopup(control.label)">
          <ion-icon ios="ios-help-circle-outline" md="md-help-circle-outline"></ion-icon>
        </ion-button>



      </ion-item>
      <ion-item *ngIf="(formSubmitted || control.dirty || control.touched) && control.invalid">
        <ion-text color="danger" *ngFor="let error of control.getValidationMessages()">
          {{error}}
        </ion-text>
      </ion-item>
    </div>

    <br/>
    <ion-button *ngIf="!this.navParams.data.editing" type="submit"  fill="outline" [disabled]="formSubmitted && visitForm.invalid" type="submit">{{'visitCreate' | translate}}</ion-button>
    <ion-button *ngIf="this.navParams.data.editing" type="submit"  fill="outline"  [disabled]="formSubmitted && visitForm.invalid" type="submit">{{'visitEdit' | translate}}</ion-button>

  </form>
  <br/>

  <ion-button fill="outline" (click)="this.goBackToCensus()">
    {{'cancelButton' || translate}}
  </ion-button>
</ion-content>

