<div>
  <ion-item>
    <ion-label>{{'levelInHierarchyLabel' | translate}}</ion-label>
    <ion-select [interfaceOptions]="changeHierarchyLevelOptions" interface="alert"  (ionChange)="this.changeLevel($event)" [placeholder]="this.hierarchyLookupLevel">
      <ion-select-option *ngFor="let lvl of levels" [value]="lvl.keyIdentifier">
        {{lvl.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list no-lines>
    <ion-card *ngFor="let sg of socialGroupDetails"
              (click)="this.selectSocialGroup(sg)">
      <ion-card-content>
        <h1>{{sg.groupName}}</h1>
        <h5> {{'socialGroupHead' | translate}}: {{sg.groupHead.firstName}} {{sg.groupHead.lastName}}</h5>
        <h5> {{'extId' | translate}}: {{sg.extId}}</h5>
      </ion-card-content>
    </ion-card>
  </ion-list>
</div>

<div>
  <ion-button float-sm-left [disabled]="this.selectedPage === 1" fill="outline" (click)="changePage(this.selectedPage - 1)">
    <ion-icon name="arrow-round-back"></ion-icon>
  </ion-button>
  <ion-button float-sm-right [disabled]="this.selectedPage === pageCount" fill="outline" (click)="changePage(this.selectedPage + 1)">
    <ion-icon name="arrow-round-forward"></ion-icon>
  </ion-button>
</div>
