<div>
      <div *ngFor="let level of this.levels">
        <ion-list no-lines *ngIf="this.levelInHierarchy == level.keyIdentifier">
          <ion-card *ngFor="let hier of hierarchyDetails" (click)="this.setSelectedLevel(this.levelInHierarchy, hier)">
            <ion-card-content>
              <h1>{{hier.name}}</h1>
              <h5>External Id: {{hier.extId}}</h5>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
</div>

<div>
  <ion-button float-sm-left [disabled]="this.selectedPage === 1" fill="outline" (click)="changePage(this.selectedPage - 1)">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-button float-sm-right [disabled]="this.selectedPage === pageCount" fill="outline" (click)="changePage(this.selectedPage + 1)">
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-button>
</div>

