<openhds-header [headerTitle]="'searchPage'"></openhds-header>


<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="entityType">
      <ion-segment-button value="locations" (click)="this.loadList()">
        {{'locationsLabel' | translate}}
      </ion-segment-button>
      <ion-segment-button value="socialgroups" (click)="this.loadList()">
        {{'socialGroupsLabel' | translate}}
      </ion-segment-button>
      <ion-segment-button value="individuals" (click)="this.loadList()">
        {{'individualsLabel' | translate}}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="entityType">
    <div *ngSwitchCase="'locations'">
      <div>
        <ion-item>
          <ion-searchbar autocomplete="true" animated="true" placeholder="{{'locationsPlaceholder' | translate}}"
                         (ionInput)="this.search($event)"></ion-searchbar>
        </ion-item>
      </div>
      <div>
        <ion-list lines="full">
          <ion-card *ngFor="let loc of this.filteredLocations">
              <ion-card-header>
                <ion-item lines="inset">
                  <ion-card-title>
                    {{loc.locationName}}
                  </ion-card-title>
                  <ion-button fill="outline" slot="end" click="this.confirmSelection(loc)">{{'selectButton' | translate}}</ion-button>
                </ion-item>
                <ion-item lines="none">
                  <ion-card-subtitle> Ext Id: {{loc.extId}}</ion-card-subtitle>
                </ion-item>
              </ion-card-header>

          </ion-card>
        </ion-list>
      </div>
    </div>
    <div *ngSwitchCase="'socialgroups'">
      <div>
        <ion-item>
          <ion-searchbar placeholder="{{'socialGroupPlaceholder' | translate}}"
                         (ionInput)="this.search($event)"></ion-searchbar>
        </ion-item>
      </div>
      <div>
        <ion-list lines="full">
          <ion-card *ngFor="let sg of this.filteredSocialGroups">
            <ion-card-header>
              <ion-item lines="inset">
                <ion-card-title>
                  {{sg.groupName}}
                </ion-card-title>
                <ion-button fill="outline" slot="end" click="this.confirmSelection(sg)">{{'selectButton' | translate}}</ion-button>
              </ion-item>
              <ion-item lines="none">
                  <ion-card-subtitle> Group Head: {{sg.groupHead.firstName}} {{sg.groupHead.lastName}}</ion-card-subtitle>
              </ion-item>
              <ion-item lines="none">
                <ion-card-subtitle> Ext Id: {{sg.extId}}</ion-card-subtitle>
              </ion-item>
            </ion-card-header>
          </ion-card>
        </ion-list>
      </div>
    </div>
    <div *ngSwitchCase="'individuals'">
      <div>
        <ion-item>
          <ion-searchbar placeholder="{{'individualPlaceholder' | translate}}"
                         (click)="this.search($event)"></ion-searchbar>
        </ion-item>
      </div>
      <div>
        <ion-list lines="full">
          <ion-card *ngFor="let ind of this.filteredIndividuals">
            <ion-card-header>
              <ion-item lines="inset">
                <ion-card-title>
                  {{ind.firstName}} {{ind.lastName}}
                </ion-card-title>
                <ion-button fill="outline" slot="end" (click)="this.confirmSelection(ind)">{{'selectButton' | translate}}</ion-button>
              </ion-item>
              <ion-item lines="none">
                <ion-card-subtitle> Ext Id: {{ind.extId}}</ion-card-subtitle>
              </ion-item>
            </ion-card-header>
          </ion-card>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
