<!--
  Generated template for the BaselineCensusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Baseline Census</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col col-4>
      <div *ngFor="let level of this.levels; let i = index">
        <button ion-button full [disabled]="this.selectedHierarchy[i + 1] == undefined && level != 'Region'" >{{level}}</button>
        <div *ngIf="this.selectedHierarchy[i+2] != undefined">
          <p ion-text>Name: {{this.selectedHierarchy[i +2].name}}</p>
          <p ion-text>Ext. Id: {{this.selectedHierarchy[i +2].extId}}</p>
        </div>
      </div>
      <button ion-button full [disabled]="this.selectedHierarchy[this.levels.length + 1] == undefined">Location</button>
      <div *ngIf="this.selectedLocation != undefined">
        <p ion-text> Name: {{this.selectedLocation.locationName}}</p>
        <p ion-text> Ext ID: {{this.selectedLocation.extId}} </p>
        <p ion-text> Latitude: {{this.selectedLocation.latitude}}</p>
        <p ion-text> Longitude: {{this.selectedLocation.longitude}}</p>
      </div>
      <button ion-button full [disabled]="this.selectedLocation == undefined">Social Group</button>
      <div *ngIf="this.selectedSocialGrp != undefined">
        <p ion-text> Group Head: {{this.selectedSocialGrp.groupHead.firstName}} {{this.selectedSocialGrp.groupHead.lastName}}</p>
        <p ion-text> Group Name: {{this.selectedSocialGrp.groupName}}</p>
        <p ion-text> Ext ID: {{this.selectedSocialGrp.extId}} </p>
      </div>
    </ion-col>
    <ion-col>
      <location-hierarchy (selectedHierarchy)="this.setSelectedHierarchy($event)" *ngIf="this.selectedHierarchy.length != this.levels.length + 2"></location-hierarchy>
      <location-list (selectedLoc)="this.setLocation($event)" *ngIf="this.selectedHierarchy.length == this.levels.length + 2 && this.selectedLocation == undefined"
                     [collectedBy]="this.collectedBy" [parentLevel]="this.selectedHierarchy[this.selectedHierarchy.length-1]"></location-list>
      <social-groups (selectedSg)="this.setSocialGroup($event)" [sgLocation]="this.selectedLocation" [collectedBy]="this.collectedBy"
                      *ngIf="this.selectedLocation != undefined && this.selectedSocialGrp == undefined"></social-groups>
      <individual-list (selectedIndividual)="this.setSelectedIndividuals($event)" [sg]="this.selectedSocialGrp" [loc]="this.selectedLocation"
                     [collectedBy]="this.collectedBy" *ngIf="this.selectedSocialGrp != undefined && this.selectedIndividuals.length >= 0"></individual-list>

    </ion-col>
  </ion-row>

  <button ion-button full (click)="this.completeBaselineCensus()" [disabled]="this.selectedIndividuals.length <= 0">Finish Baseline Census</button>

</ion-content>
