<!--
  Generated template for the BaselineCensusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Baseline Census</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col col-4>
      <div>
        <ion-item-divider>
            <h1 ion-text [color]="this.baselineStep === 'hierarchy' ? 'primary': ''">Hierarchy</h1>
        </ion-item-divider>

        <!-- Load the hierarchy levels, and display the information for selected  --->
        <div *ngFor="let level of this.levels; let i = index">
          <ion-item ion-text *ngIf="level.name !== this.levels[0].name">
            {{level.name}}:

            <p ion-text *ngIf="this.selectedHierarchy[i+1] !== undefined">
              {{this.selectedHierarchy[i + 1].name}}
            </p>
          </ion-item>
        </div>
      </div>

      <div>
        <ion-item-divider>
            <h1 ion-text [color]="this.baselineStep === 'location' ? 'primary': ''">Location</h1>
        </ion-item-divider>
      </div>
      <div *ngIf="this.selectedLocation !== undefined">
        <p ion-text> Name: {{this.selectedLocation.locationName}}</p>
        <p ion-text> Ext Id: {{this.selectedLocation.extId}} </p>
        <p ion-text> Latitude: {{this.selectedLocation.latitude}}</p>
        <p ion-text> Longitude: {{this.selectedLocation.longitude}}</p>
      </div>
      <div>
        <ion-item-divider>
            <hi ion-text [color]="this.baselineStep === 'socialGroup' ? 'primary': ''">Social Group</hi>
        </ion-item-divider>
      </div>
      <div *ngIf="this.selectedSocialGroup != undefined">
        <p ion-text> Group Head: {{this.selectedSocialGroup.groupHead.firstName}} {{this.selectedSocialGroup.groupHead.lastName}}</p>
        <p ion-text> Group Name: {{this.selectedSocialGroup.groupName}}</p>
        <p ion-text> Ext ID: {{this.selectedSocialGroup.extId}} </p>
      </div>
    </ion-col>
    <ion-col>
      <location-hierarchy *ngIf="this.baselineStep === 'hierarchy'"
                          (selectedHierarchy)="this.setSelectedHierarchy($event)">
      </location-hierarchy>
       <location-list *ngIf="this.baselineStep ==='location'"
                      (selectedLoc)="this.setSelectedLocation($event)"
                      [parentLevel]="this.selectedHierarchy[this.selectedHierarchy.length - 1]"
                      [collectedBy]="this.collectedBy">
      </location-list>
      <!--<social-groups (selectedSg)="this.setSelectedSocialGroup($event)" [sgLocation]="this.selectedLocation" [collectedBy]="this.collectedBy"-->
                      <!--*ngIf="this.selectedLocation != undefined && this.selectedSocialGroup == undefined"></social-groups>-->
      <!--<individual-list (selectedIndividual)="this.setSelectedIndividuals($event)" [sg]="this.selectedSocialGroup" [loc]="this.selectedLocation"-->
                     <!--[collectedBy]="this.collectedBy" *ngIf="this.selectedSocialGroup != undefined && this.selectedIndividuals.length >= 0"></individual-list>-->

    </ion-col>
  </ion-row>

  <button ion-button full (click)="this.completeBaselineCensus()" [disabled]="this.selectedIndividuals.length <= 0">Finish Baseline Census</button>

</ion-content>
