<openhds-header [headerTitle]="'databaseSyncPage'"></openhds-header>

<ion-content padding>
  <ion-card [hidden]="this.networkConfig.isConnected()">
    <ion-card-content>{{'networkErrorPrompt' | translate}}</ion-card-content>
  </ion-card>

  <ion-card [hidden]="this.errors.length == 0">
    <ion-card-content *ngFor="let e of this.errors">
      {{e}}
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-button slot="end" (click)="this.syncDatabase()">{{'syncDatabase' | translate}}</ion-button>
  </ion-item>

  <ion-grid class="table">
    <ion-row class="table-header">
      <ion-col>{{'databaseEntity' | translate}}</ion-col>
      <ion-col>{{'lastSynced' | translate}}</ion-col>
      <ion-col>{{'syncSuccessful' | translate}}</ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row class="table-row">
      <ion-col>{{'fieldworkerLabel' | translate}}</ion-col>
      <ion-col>
        <ion-text>
          {{fieldworkerSync != undefined ? (fieldworkerSync.time | date:'mediumDate'): "N/A" }}
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-text>
          {{fieldworkerSync == undefined ? 'N/A': fieldworkerSync.success ? 'Yes': " No" }}
        </ion-text>
      </ion-col>
      <ion-col><ion-button color="primary" size="small" fill="outline" (click)="this.syncFieldworkers()">{{'syncButton' | translate}}</ion-button></ion-col>
    </ion-row>

    <ion-row class="table-row">
      <ion-col>{{'locHierarchyLabel' | translate}}</ion-col>
      <ion-col>
        <ion-text>
          {{hierarchySync != undefined ? (hierarchySync.time | date:'mediumDate'): "N/A" }}
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-text>
          {{hierarchySync == undefined ? 'N/A': hierarchySync.success ? 'Yes': " No" }}
        </ion-text>
      </ion-col>
      <ion-col><ion-button color="primary" size="small" fill="outline" (click)="this.syncLocLevels()">{{'syncButton' | translate}}</ion-button></ion-col>
    </ion-row>

    <ion-row class="table-row">
      <ion-col>{{'locationLabel' | translate}}</ion-col>
      <ion-col>
        <ion-text>
          {{locationSync != undefined ? (locationSync.time | date:'mediumDate'): "N/A" }}
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-text>
          {{locationSync == undefined ? 'N/A': locationSync.success ? 'Yes': " No" }}
        </ion-text>
      </ion-col>
      <ion-col><ion-button color="primary" size="small" fill="outline" (click)="this.syncLocations()">{{'syncButton' | translate}}</ion-button></ion-col>
    </ion-row>

    <ion-row class="table-row">
      <ion-col>{{'socialGroupLabel' | translate}}</ion-col>
      <ion-col>
        <ion-text>
          {{socialGroupSync != undefined ? (socialGroupSync.time | date:'mediumDate'): "N/A" }}
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-text>
          {{socialGroupSync == undefined ? 'N/A': socialGroupSync.success ? 'Yes': " No" }}
        </ion-text>
      </ion-col>
      <ion-col><ion-button color="primary" size="small" fill="outline" (click)="this.syncSocialGroups()">{{'syncButton' | translate}}</ion-button></ion-col>
    </ion-row>

    <ion-row class="table-row">
      <ion-col>{{'individualLabel' | translate}}</ion-col>
      <ion-col>
        <ion-text>
          {{individualSync != undefined ? (individualSync.time | date:'mediumDate'): "N/A" }}
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-text>
          {{individualSync == undefined ? 'N/A': individualSync.success ? 'Yes': " No" }}
        </ion-text>
      </ion-col>
      <ion-col><ion-button color="primary" size="small" fill="outline" (click)="this.syncIndividuals()">{{'syncButton' | translate}}</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

