<!--<openhds-header [headerTitle]="this.PAGE_NAME"></openhds-header>-->

<ion-content padding class="background">
  <ion-card class="login">
    <ion-row>
        <ion-item class="logo">
          <ion-img class="image" style="height: 200px;width: 200px;" [src]="'../assets/imgs/logo-login-colored.png' || './assets/imgs/logo-login-colored.png'"></ion-img>
        </ion-item>
    </ion-row>

    <form [formGroup]="loginForm" (ngSubmit)="this.onLogin(loginForm.value)">
      <ion-item>
        <ion-label>{{'loginUsername' | translate}}</ion-label>
        <ion-input formControlName="username" name="username" type="text">
        </ion-input>
      </ion-item>
      <ion-item *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
        <ion-text color="danger">
          {{'usernameFormError' | translate}}
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label>{{'loginPassword' | translate}}</ion-label>
        <ion-input formControlName="password" name="password" type="password" required>
        </ion-input>
      </ion-item>
      <ion-item *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
        <ion-text color="danger">
          {{'passwordFormError' | translate}}
        </ion-text>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block">{{'loginButton' | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </form>

    <ion-item>
      <ion-label>{{'loginSupervisor' | translate }}</ion-label>
      <ion-checkbox checked="true" [(ngModel)]="this.loginAsSuper"></ion-checkbox>
    </ion-item>

    <ion-card [hidden]="!this.showLoginError" class="error">
      <ion-card-content>
        <ion-text>
          <b>{{'loginErrorMessage' | translate }}</b>
        </ion-text>
      </ion-card-content>
    </ion-card>

</ion-card>
</ion-content>
