<openhds-header [headerTitle]="this.navService.data.editing ? 'Edit a Location': this.PAGE_NAME"></openhds-header>
<ion-content>
  <div *ngIf="!this.netConfig.isConnected()">
    <ion-card color="danger">
      <ion-card-content>
        <p>There is currently no network connection. You data will be uploaded to the server when there
          is a connection!</p>
      </ion-card-content>
    </ion-card>
  </div>

  <form novalidate [formGroup]="form" (ngSubmit)="submitForm(form)">
    <ion-item color="danger" *ngIf="formSubmitted && form.invalid">
      <ion-text>
        There are problems with the form:
      </ion-text>
      <ion-list>
        <ion-item color="danger" *ngFor="let error of form.getFormValidationMessages(form)">
          <ion-text>
            {{error}}
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-item>

    <!------  Form Fields --------->
    <div class="form-group" *ngFor="let control of form.formControls">
      <ion-item>
        <ion-label>
          {{control.label}}
        </ion-label>
        <ion-input class="form-control"
                   formControlName="{{control.modelProperty}}">
        </ion-input>
          <ion-button type="button" fill="outline" color="clear" spot="end"
                      [hidden]="control.label != 'Location Type'" (click)="helpPopup(control.label)">
            <ion-icon name="help-circle" ></ion-icon>
          </ion-button>



      </ion-item>
      <ion-item *ngIf="(formSubmitted || control.dirty) && control.invalid">
        <p color="danger" *ngFor="let error of control.getValidationMessages()">
          {{error}}
        </p>
      </ion-item>
    </div>

    <br/>
    <ion-button *ngIf="!this.navService.data.editing" type="submit"  fill="outline"  [disabled]="formSubmitted && form.invalid" type="submit">Create Location</ion-button>
    <ion-button *ngIf="this.navService.data.editing"  type="submit"  fill="outline"  [disabled]="formSubmitted && form.invalid" type="submit">Edit Location</ion-button>
  </form>
  <br/>

  <ion-button fill="outline" (click)="this.goBackToCensus()">
    Cancel
  </ion-button>

  <br>

  <ion-item-divider color="primary">Additional Options</ion-item-divider>

  <ion-item>
    <ion-label>Geolocation Enabled</ion-label>
    <ion-toggle [(ngModel)]="geolocEnabled"></ion-toggle>
  </ion-item>
</ion-content>
