<openhds-header [headerTitle]="this.navService.data.editing ? 'locationEdit' : 'locationCreate'"></openhds-header>

<ion-content>
  <div *ngIf="!this.netConfig.isConnected()">
    <ion-card>
      <ion-card-content>
        <ion-text>{{'networkErrorPrompt' | translate}}</ion-text>
      </ion-card-content>
    </ion-card>
  </div>

  <form novalidate [formGroup]="form" (ngSubmit)="submitForm(form)">

    <div class="error" *ngIf="formSubmitted && form.invalid">
        <ion-item>
          <ion-text>
            There are problems with the form:
          </ion-text>
        </ion-item>
        <ion-item lines="none" *ngFor="let error of form.getFormValidationMessages()">
          <ion-text>
            {{ error }}
          </ion-text>
        </ion-item>
    </div>

    <!------  Form Fields --------->
    <div class="form-group" *ngFor="let control of form.formControls">
      <ion-item>
        <ion-label>
          {{control.label}}
        </ion-label>
        <ion-input class="form-control"
                   formControlName="{{control.modelProperty}}">
        </ion-input>
        <ion-button type="button" fill="outline" color="clear" spot="end"
                    [hidden]="control.label != 'Location Type'" (click)="helpPopup(control.label)">
          <ion-icon name="help-circle" ></ion-icon>
        </ion-button>



      </ion-item>
      <ion-item *ngIf="(formSubmitted || control.dirty) && control.invalid">
        <ion-text color="danger" *ngFor="let error of control.getValidationMessages()">
          {{error }}
        </ion-text>
      </ion-item>
    </div>

    <br/>
    <ion-button *ngIf="!this.navService.data.editing" type="submit"  fill="outline"  [disabled]="formSubmitted && form.invalid" type="submit">Create Location</ion-button>
    <ion-button *ngIf="this.navService.data.editing"  type="submit"  fill="outline"  [disabled]="formSubmitted && form.invalid" type="submit">Edit Location</ion-button>
  </form>
  <br/>

  <ion-button fill="outline" (click)="this.goBackToCensus()">
    Cancel
  </ion-button>

  <br>

  <ion-item>
    <ion-item-divider color="primary">Additional Options</ion-item-divider>
  </ion-item>

  <ion-item>
    <ion-label>Geolocation Enabled</ion-label>
    <ion-toggle [(ngModel)]="geolocEnabled"></ion-toggle>
  </ion-item>
</ion-content>
