<div>
  <ion-list no-lines>
    <ion-card *ngFor="let ind of individualDetails" (click)="this.selectIndividual(ind)">
      <ion-card-content>
        <h5> {{ind.firstName}} {{ind.lastName}}</h5>
        <h5> {{'extId' | translate}}: {{ind.extId}}</h5>
      </ion-card-content>
    </ion-card>
  </ion-list>
</div>

<div>
  <ion-button float-sm-left [disabled]="this.selectedPage === 1" fill="outline" (click)="changePage(this.selectedPage - 1)">
    <ion-icon name="arrow-round-back"></ion-icon>
  </ion-button>
  <ion-button float-sm-right [disabled]="this.selectedPage === pageCount" fill="outline" (click)="changePage(this.selectedPage + 1)">
    <ion-icon name="arrow-round-forward"></ion-icon>
  </ion-button>
</div>
