 <!-- Fieldworker menu -->
  <ion-menu  id="fieldworkerMenu" persistent="true" type="push" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Navigate
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of this.fieldworkerPages" (click)="this.openPage(p)">
          {{p.title}}
        </button>
        <button ion-item menuClose (click)="this.logoutUser()">Logout</button>
      </ion-list>

    </ion-content>

  </ion-menu>

  <!--Admin menu -->
  <ion-menu menuToggle id="adminMenu" persistent="true" type="push" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Navigate
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of this.adminPages" (click)="this.openPage(p)">
          {{p.title}}
        </button>
        <button ion-item menuClose (click)="this.logoutUser()">Logout</button>
      </ion-list>
    </ion-content>


  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>




