<div>
<ion-list no-lines>
  <ion-card *ngFor="let loc of locationDetails" (click)="this.selectLocation(loc)">
    <ion-card-content>
      <h1>{{loc.locationName}}</h1>
      <h5>External Id: {{loc.extId}}</h5>
    </ion-card-content>
  </ion-card>
</ion-list>
</div>
<div>
  <ion-button float-sm-left [disabled]="this.selectedPage === 1" fill="outline" (click)="changePage(this.selectedPage - 1)">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-button float-sm-right [disabled]="this.selectedPage === pageCount" fill="outline" (click)="changePage(this.selectedPage + 1)">
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-button>
</div>

