<!--
  Generated template for the CreateLocationModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div *ngIf="this.createHead; else elseBlock">
      <ion-title>Create Social Group Head  <ion-icon name="close"(click)="dismissForm()" float-right></ion-icon></ion-title>
    </div>
    <ng-template #elseBlock>
      <ion-title>Create an Individual  <ion-icon name="close"(click)="dismissForm()" float-right></ion-icon> </ion-title>
    </ng-template>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!this.netConfig.isConnected()">
    <ion-card color="danger">
      <ion-card-content>
        <p>There is currently no network connection. You data will be uploaded to the server when there
          is a connection!</p>
      </ion-card-content>
    </ion-card>
  </div>

  <form novalidate [formGroup]="individualForm" (ngSubmit)="submitForm(individualForm)">
    <ion-item color="danger" *ngIf="formSubmitted && individualForm.invalid">
      There are problems with the form
      <ion-list>
        <ion-item color="danger" *ngFor="let error of individualForm.getFormValidationMessages(individualForm)">
          {{error}}
        </ion-item>
      </ion-list>
    </ion-item>

    <!------  Form Fields --------->
    <div class="form-group" *ngFor="let control of individualForm.individualFormControls">
      <ion-item>
        <ion-label>{{control.label}}</ion-label>

        <ion-input type="date" float-right *ngIf="control.label == 'Date of Birth'" formControlName="{{control.modelProperty}}"
                   [(ngModel)]="individual[control.modelProperty]" ></ion-input>

        <!---- Other form fields that aren't selection based ---->
        <ion-input *ngIf="control.label != 'Date of Birth'"
                   [(ngModel)]="individual[control.modelProperty]"
                   formControlName="{{control.modelProperty}}"></ion-input>
      </ion-item>
      <ion-item *ngIf="(formSubmitted || control.dirty) && control.invalid">
        <p color="danger" *ngFor="let error of control.getValidationMessages()">
          {{error}}
        </p>
      </ion-item>
    </div>

    <div *ngIf="this.createHead; else indButtonBlock">
      <button ion-button outline color="dark" [disabled]="!individualForm.valid" type="submit"> Create Head</button>
    </div>
    <ng-template #indButtonBlock>
      <button ion-button outline color="dark" [disabled]="!individualForm.valid" type="submit"> Create Individual</button>
    </ng-template>
  </form>

</ion-content>
