<!--
  Generated template for the CreateLocationModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create a Social Group  <ion-icon name="close"(click)="dismissForm()" float-right></ion-icon></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!this.netConfig.isConnected()">
    <ion-card color="danger">
      <ion-card-content>
        <p>There is currently no network connection. You data will be uploaded to the server when there
          is a connection!</p>
      </ion-card-content>
    </ion-card>
  </div>

  <form novalidate [formGroup]="sgForm" (ngSubmit)="submitForm(sgForm)">
    <ion-item color="danger" *ngIf="formSubmitted && sgForm.invalid">
      There are problems with the form
      <ion-list>
        <ion-item color="danger" *ngFor="let error of sgForm.getFormValidationMessages(sgForm)">
          {{error}}
        </ion-item>
      </ion-list>
    </ion-item>


    <!------  Form Fields --------->
    <div class="form-group" *ngFor="let control of sgForm.socialGroupControls">
      <ion-item>
        <ion-label>{{control.label}}</ion-label>
        <ion-input class="form-control"
                   [(ngModel)]="sg[control.modelProperty]"
                   formControlName="{{control.modelProperty}}"></ion-input>
        <button type="button" ion-button outline clear default item-end
                [hidden]="control.label != 'Group Type'" (click)="helpPopup(control.label)">
          <ion-icon name="help-circle" ></ion-icon>
        </button>
      </ion-item>
      <ion-item *ngIf="(formSubmitted || control.dirty) && control.invalid">
        <p color="danger" *ngFor="let error of control.getValidationMessages()">
          {{error}}
        </p>
      </ion-item>
    </div>

    <br/>
    <button ion-button outline color="dark" [disabled]="formSubmitted && sgForm.invalid" type="submit">Create Social Group Head</button>
  </form>
</ion-content>
