<!--
  Generated template for the CreateLocationModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create a Social Group</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!this.netConfig.isConnected()">
    <ion-card color="danger">
      <ion-card-content>
        <p>There is currently no network connection. You data will be uploaded to the server when there
          is a connection!</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div padding-left padding-right>
    <!-- Social Group Entry Form -->
    <form  [formGroup]="sgForm" (ngSubmit)="createHead()">
      <ion-item>
        <ion-label floating> Fieldworker </ion-label>
        <ion-input type="text" value="{{this.user.getLoggedInUser()}}"disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating> Location Id </ion-label>
        <ion-input type="text" value="{{this.navParams.get('sgLocation')}}"disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating> External Id </ion-label>
        <ion-input type="text" formControlName="extId" name="extId"[(ngModel)]="this.sg.extId"></ion-input>
      </ion-item>
      <ion-item *ngIf="sgForm.controls.extId.hasError('required') && sgForm.controls.extId.dirty">
        <p ion-text color="danger">A social group external ID is required.</p>
      </ion-item>
      <ion-item *ngIf="sgForm.controls.extId.hasError('pattern') && sgForm.controls.extId.dirty">
        <p ion-text color="danger">A social group external ID must match this pattern [a-zA-Z] and not begin with spaces.</p>
      </ion-item>
      <ion-item>
        <ion-label floating>Group Type </ion-label>
        <ion-input name="type" formControlName="type" [(ngModel)]="this.sg.groupType"></ion-input>
      </ion-item>
      <ion-item *ngIf="sgForm.controls.type.hasError('required') && sgForm.controls.type.touched">
        <p ion-text color="danger">A social group type is required.</p>
      </ion-item>

      <ion-item *ngIf="sgForm.controls.type.hasError('pattern') && sgForm.controls.type.touched">
        <p ion-text color="danger">A social group type must be Urban (URB) or Rural (RUR) and not begin with spaces.</p>
      </ion-item>
      <ion-item>
        <ion-label floating> Group Name </ion-label>
        <ion-input ion-text formControlName="name" type="text" name="name"  [(ngModel)]="this.sg.groupName"></ion-input>
      </ion-item>
      <ion-item *ngIf="sgForm.controls.name.hasError('required') && sgForm.controls.name.dirty">
        <p ion-text color="danger">A social group name is required.</p>
      </ion-item>
      <ion-item *ngIf="sgForm.controls.name.hasError('pattern') && sgForm.controls.name.dirty">
        <p ion-text color="danger">A social group name must match this pattern [a-zA-Z] and not begin with spaces..</p>
      </ion-item>
      <button ion-button round color="dark" [disabled]="!sgForm.valid" type="submit"> Create Head of Social Group </button>
    </form>
  </div>
</ion-content>
