<!--
  Generated template for the CreateVisitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Visit Information</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!this.netConfig.isConnected()">
    <ion-card color="danger">
      <ion-card-content>
        <p>There is currently no network connection. You data will be uploaded to the server when there
          is a connection!</p>
      </ion-card-content>
    </ion-card>
  </div>

  <form novalidate [formGroup]="visitForm" (ngSubmit)="submitForm(visitForm)">
    <ion-item color="danger" *ngIf="formSubmitted && visitForm.invalid">
      There are problems with the form
      <ion-list>
        <ion-item color="danger" *ngFor="let error of visitForm.getFormValidationMessages(visitForm)">
          {{error}}
        </ion-item>
      </ion-list>
    </ion-item>

    <!------  Form Fields --------->
    <div class="form-group" *ngFor="let control of visitForm.visitFormControls">
      <ion-item>
        <ion-label floating>{{control.label}}</ion-label>
        <ion-input class="form-control"
                   [(ngModel)]="visit[control.modelProperty]"
                   formControlName="{{control.modelProperty}}"></ion-input>
      </ion-item>
      <ion-item *ngIf="(formSubmitted || control.dirty) && control.invalid">
        <p color="danger" *ngFor="let error of control.getValidationMessages()">
          {{error}}
        </p>
      </ion-item>
    </div>

    <br/>
    <button ion-button round color="dark" [disabled]="formSubmitted && visitForm.invalid" type="submit">Create Visit and Submit Census</button>
  </form>
  <br/>
  <button ion-button round color="dark" (click)="this.dismissForm()"> Close Form </button>
</ion-content>
