<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{'errorReportPageTitle' | translate}}</ion-title>
    <ion-button slot="end" (click)="this.closeModal()"><ion-icon name="close"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="error" *ngIf="this.validationErrors">
    <ion-item>
      <ion-text>
        {{'errorReportingValMessage' | translate}}
      </ion-text>
    </ion-item>
  </div>
  <form novalidate>
    <ion-textarea
      placeholder="{{'errorReportingPlaceholderLabel' | translate}}"
      [(ngModel)]="this.errorMessage" [ngModelOptions]="{standalone: true}">
    </ion-textarea>
    <ion-button fill="outline" (click)="this.saveError()">{{'reportErrorButton' | translate}}</ion-button>
  </form>
</ion-content>
