
<ion-row>
  <ion-col col-4>
    <button ion-button full>Location</button>
    <div *ngIf="this.selectedLoc != undefined">
      <p ion-text> Name: {{this.selectedLoc.locationName}}</p>
      <p ion-text> Ext ID: {{this.selectedLoc.extId}} </p>
      <p ion-text> Type: {{this.selectedLoc.locationType}} </p>
    </div>
  </ion-col>
  <ion-col col-4>
    <ion-scroll scrollY="true">
      <ion-list no-lines>
        <ion-card *ngFor="let loc of this.locations">
          <ion-card-content>
            <h1>{{loc.locationName}}</h1>
            <p>{{loc.locationType}}</p>
            <button ion-button full outline (click)="this.selectLocation(loc)">Select</button>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-scroll>
  </ion-col>
  <ion-col col-4>
    <button ion-button full outline [disabled]="!this.networkConfig.isConnected()" (click)="this.synchronize()">
      Synchronize Locations
    </button>
    <button ion-button full outline (click)="this.goToCreateLocPage()">Create a Location</button>
  </ion-col>
</ion-row>


